.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-blue);
  background-color: #fff;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  z-index: 100;

  animation: fadeIn 1.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 2rem 1rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
  margin: 0 1rem;
}

@media (max-width: 768px) {
  .logo {
    font-size: 1.75rem;
    transition: all 0.5s ease-in-out;
  }
}

.logo img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  border-radius: 10%;
}
