.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.headerContent {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 1200px;
  width: 100%;
}

.logo {
  position: relative;
  width: 80px;
  height: 80px;
  margin-right: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #242b7b;
  margin: 0;
}

@media (min-width: 768px) {
  .logo {
    width: 100px;
    height: 100px;
  }

  .title {
    font-size: 2rem;
  }
}
