.card {
  width: 18rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card-img-top {
  height: 15rem;
  width: 100%;
  position: relative;
}

.card-img-top img {
  border-radius: 1rem 1rem 0 0;
}

.card-body {
  border-radius: 0 0 1rem 1rem;
  padding: 0.5rem;
}

.card-title {
  font-size: 1.25rem;
}

.card-subtitle {
  font-size: 1rem;
}

.card-text {
  font-size: 0.75rem;
}
